{% extends 'layouts/admin/base.html' %}

{% block head_title %}
    Shop Detail
{% endblock %}

{% block content %}
<section>
<div class="section-body contain-lg">
    <div class="card">
        <div class="card-body">

        <h2><img src="{{shop.logo.url}}">{{shop.name}}</h2>
        <p><strong>Link:</strong> <a href="{{shop.link}}" target="_blank">{{shop.link}}</a></p>
        <p><strong>Category: </strong>{{shop.category}}</p>
        </div>
    </div>
</div>
</section>
{% endblock %}

{% block extra_js%}
<script type="text/javascript">
    $('#shop').addClass('active')
</script>
{% endblock %}
