{% extends 'layouts/frontend/base.html' %}
{% load staticfiles %}

{% block head_title %}
    {{block.super}} | Quotation
{% endblock %}



{% block breadcrumb %}
<div class="page-title" style="background-image: url('{% static "frontend-assets/images/title/bg01.jpg" %}')">
  <div class="container">
    <h1 class="entry-title"> Quotation </h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Request Product</a></li>
      <li class="active">Quotation</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<section class="info-no-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="custom-heading part-heading three-slashes">
          <h2>Requested Product</h2>
          <div class="table-responsive table-shopping-cart">
          <table class="table">
            <tbody>
              <tr class="row-xs-center">
                <td class="text-left">Product Title</th>
                <td class="product-title">{{quotation.requested_product.title}}</td>
              </tr>
              <tr class="row-xs-center">
                <td class="text-left">Link</th>
                <td class="product-link"><a href="{{quotation.requested_product.link}}" target="_blank">{{quotation.requested_product.link}}</a></td>
              </tr>
              <tr class="row-xs-center">
                <td class="text-left">Status</th>
                <td class="product-qty">{% if quotation.requested_product.quoted %}<span class="label label-success" >Quoted</span>{% else %} <span class="label label-danger" >Not Quoted</span>{% endif %}</td>
              </tr>
              <tr class="row-xs-center">
                <td class="text-left">Quantity</th>
                <td class="product-qty">{{quotation.requested_product.number}}</td>
              </tr>
              <tr class="row-xs-center">
                <td class="text-left">Product Remarks</th>
                <td class="product-qty">{{quotation.requested_product.remarks}}</td>
              </tr>
            </tbody>
          </table>
        </td>
        </div>
        <div class="custom-heading part-heading three-slashes">
          <h2>Quotation</h2>
         <div class="row">
        <div class="col-lg-12" >
        <table class="table table-reflow table-responsive table-sm table-cart-totals">
          <thead>
          <tr>
            <th>Category:</th>
            <th>Price:</th>
            <th>Sales Tax:</th>
            <th>Domestic Shipping:</th>
            <th>Height:</th>
            <th>Length:</th>
            <th>Width:</th>
            <th>Status:</th>
          </tr>
          </thead>
          <tbody>
          <tr scope="row">
            <td><a href="{% url 'website:userItemCategoryDetail' quotation.category.slug %}">{{quotation.category.title}}</a></td>
            <td>Rs. {{quotation.price}}</td>
            <td>{{quotation.approx_taxes}}%</td>
            <td>{{quotation.domestic_shipping}}%</td>
            <td>{{quotation.height}}</td>
            <td>{{quotation.length}}</td>
            <td>{{quotation.weight}}</td>
           </tr>
          </tbody>
        </table>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
