{% load staticfiles %}


<script type="text/javascript" src="{% static 'frontend-assets/components/owl.carousel/dist/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/countUp.js/dist/countUp.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/jQuery.mmenu/dist/core/js/jquery.mmenu.min.all.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/tether/tether.min.js' %}"></script><!-- Tether for Bootstrap -->
<script type="text/javascript" src="{% static 'frontend-assets/components/bootstrap/dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/parallax.js/parallax.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/sliphover/src/jquery.sliphover.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/lightslider/dist/js/lightslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/lightgallery/dist/js/lightgallery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/components/lightgallery/dist/js/lightgallery-all.min.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend-assets/js/vendor/gmap3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'frontend-assets/js/vendor/jquery.elevateZoom-3.0.8.min.js' %}"></script>

<script type="text/javascript" src="{% static 'frontend-assets/js/main.js' %}"></script>