{% extends "account/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block breadcrumb %}
<div class="page-title" style="background-image: url('{% static "frontend-assets/images/title/bg01.jpg" %}')">
  <div class="container">
    <h1 class="entry-title"> Account Inactive </h1>
    <ol class="breadcrumb">
      <li><a href="#">Accounts</a></li>
      <li class="active"> Account Inactive</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="custom-heading part-heading three-slashes">
        <h2>{% trans "Account Inactive" %}</h2>
        <p>{% trans "This account is inactive." %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
