{% extends "account/base.html" %}
{% load static files %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block breadcrumb %}
<div class="page-title" style="background-image: url('{% static "frontend-assets/images/title/bg01.jpg" %}')">
  <div class="container">
    <h1 class="entry-title">Set Password</h1>
    <ol class="breadcrumb">
      <li><a href="#">Accounts</a></li>
      <li class="active">Set Password</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="custom-heading part-heading three-slashes">
        <h2>{% trans "Set Password" %}</h2>
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form.as_p }}
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
