{% extends "account/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block breadcrumb %}
<div class="page-title" style="background-image: url('{% static "frontend-assets/images/title/bg01.jpg" %}')">
  <div class="container">
    <h1 class="entry-title">Sign Up Closed</h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">Sign Up Closed</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="custom-heading part-heading three-slashes">
        <h2>{% trans "Sign Up Closed" %}</h2>
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}