{% extends "account/base.html" %}
{% load staticfiles %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block breadcrumb %}
<div class="page-title" style="background-image: url('{% static "frontend-assets/images/title/bg01.jpg" %}')">
  <div class="container">
    <h1 class="entry-title">Email Verification</h1>
    <ol class="breadcrumb">
      <li><a href="#">Accounts</a></li>
      <li class="active">Email Verification</li>
    </ol>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="custom-heading part-heading three-slashes">
        <h2>{% trans "Verify Your E-mail Address" %}</h2>
        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
